i {
    height: 250px;
}

img {
    height: 60px;
    width: 80px;
    border-radius: 50px;
}
.flex-row {
    height: 48px;
}

.app-navbar {
    background-color: #3f51b5;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    height: 64px;
}

.app-brand {
    color: white;
} 

.s-nav-link {
    color: #dadd3d;
}


.sidebar {
    width: 250px;
    background-color: #dadd3d;
    height: calc(100vh - 64px);
}

.content {
    padding:10px 10px 0px 10px;
} 

.close:hover {
    background: #bbb;
}
  
  .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }
  