img {
    height: 100px;
    width: 150px;
}
.form {
    margin-top: 50px;
}
.main {
    background-color: burlywood;
}
.signup {
    background-color: blue;
}
.register-form {
    height: 600px;
    width: 750px;

}

.error {
    color: red;
}
